.tittle_block_internal_admin_page {
  width: 100%; 
  border: 2px solid #ffffff; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.792); 
  color: #ffffff; 
  text-align: left; 
  box-sizing: border-box; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  position: relative; 
  margin-bottom: 20px; 
}

.App_block_internal_page {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.button_logo_internal_page {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto; 
  margin-bottom: 20px;
}

.button_logo_internal_page img {
  height: 80px; 
  width: auto; 
}

.button_question {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 95%; 
  height: 60px; 
  padding: 0; 
  background-color: #007bff73; 
  border: none; 
  color: white; 
  box-sizing: border-box; 
}

.button_question img {
  height: 55px; 
  width: auto; 
}

.button_new_question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 60px;
  padding: 0;
  background-color: #28a745; 
  border: none;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.button_remove_last {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  background-color: #dc3545; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s; 
}

.button_change_to_admin_or_monitor {
  position: fixed; 
  bottom: 20px; 
  right: 250px; 
  background-color: yellow; 
  color: black; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.button_remove_last:hover {
  background-color: #c82333; 
}
