.tittle_question_page_admin {
  width: 95%; 
  border: 2px solid #ffffff; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.792); 
  color: #ffffff; 
  text-align: left; 
  box-sizing: border-box; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  position: relative; 
  margin-bottom: 20px; 
}

.App_question_page_admin {
  margin-top: 15px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.title_input_admin {
  max-width: 100%;
  border: none; 
  background: transparent; 
  color: #ffffff; 
  font-size: 32px; 
  outline: none; 
  font-weight: bold; 
  text-align: left; 
  box-sizing: border-box; 
}

.description_question_page_admin{
  width: 95%; 
  border: 2px solid white; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.792); 
  color: white; 
  text-align: left; 
  box-sizing: border-box; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  position: relative; 
  margin-bottom: 20px; 
  min-height: 500px;
}

.description_input_admin {
  max-width: 100%; 
  min-height: 500px;
  border: none; 
  background: transparent; 
  color: white; 
  font-size: 32px; 
  outline: none; 
  font-weight: bold; 
  text-align: left; 
  box-sizing: border-box; 
}

.puntuation_question_page_admin {
  display: flex;
  align-items: center; 
  gap: 10px; 
  justify-content: space-between; 
  width: 95%; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.792); 
  border: 2px solid #ffffff; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px; 
  box-sizing: border-box;
}

.button_submit_test {
  width: 200px; 
  height: 40px;
  background-color: #ffffff; 
  border: none; 
  cursor: pointer;
  color: black
}

.button_submit_test_2 {
  width: 250px; 
  height: 40px;
  background-color: #ffffff; 
  border: none; 
  cursor: pointer;
  color: black
}

.button_delete_test {
  width: 200px; 
  height: 40px;
  background-color: red; 
  border: none; 
  cursor: pointer;
  color: white;
}

.file_name_display {
  font-size: 14px;
  color: white;
  margin-left: 20px;
}

.file_name_display_user {
  font-size: 20px;
  color: white;
  margin-left: 30px;
}


.label_puntuation_admin {
  color: #ffffff;
  font-size: 16px;
}

.puntuation_input_admin {
  width: 80px; 
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  outline: none;
  border-radius: 4px; 
}

.button_save_question_page_admin{
  background-color: rgba(0, 0, 0, 0.792); 
  color: #ffffff;
  font-size: 20px;
}

.App_question_page_user {
  margin-top: 50px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.button_submit_code {
  width: 200px; 
  height: 40px;
  background-color: #ffffff; 
  border: none; 
  cursor: pointer;
  color: black
}

.button_change_to_admin_or_monitor_activated {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  background-color: yellow; 
  color: black; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.button_change_to_admin_or_monitor {
  position: fixed; 
  bottom: 20px; 
  right: 250px; 
  background-color: yellow; 
  color: black; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.button_move_previous_page {
  position: fixed; 
  bottom: 20px; 
  left: 30px; 
  color: black; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.user_submit_code {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 95%; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.792); 
  border: 2px solid #ffffff; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  margin-bottom: 20px; 
  box-sizing: border-box;
}