.ranking_page_admin {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 20px;
}

.button_reset_ranking {
  background-color: #dc3545; 
  color: white;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}