/* div principal */
.App2 {
  display: block;
  justify-content: center; 
  height: 100vh;  
}


/* titulo */
.title-box {
  width: 100%; 
  border: 2px solid #ffffff; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.792); 
  color: #ffffff; 
  text-align: left; 
  box-sizing: border-box; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
  position: relative; 
  margin-bottom: 20px; 
}

.code_input {
  width: 100%; 
  min-height: 100px; 
  padding: 10px;
  font-size: 16px;
  color: #000; 
  border-radius: 5px;
  margin-top: 20px;  
  display: block;
  margin-left: auto; 
  margin-right: auto; 
  box-sizing: border-box;
}


/* botones */
.button-container-first-line {
  display: flex;
  justify-content: center; 
  width: 100%; 
  gap: 10px; 
  margin-bottom: 10px;         
}

.button-container-second-line {
  display: flex;
  justify-content: center; 
  width: 100%; 
  gap: 10px;          
}

.button_submit {
  padding: 10px 20px; 
  background-color: #61dafb; 
  color: #000; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px; 
}

  
.output-box {
  margin-top: 20px; 
  color: #ffffff; 
  text-align: left; 
}

.description {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  border: 2px solid #ffffff; /* Borde blanco */
  padding: 20px; /* Espaciado interno uniforme */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semi-transparente */
  color: #ffffff; /* Texto blanco */
  box-sizing: border-box; /* Incluir bordes y padding en el ancho */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
  margin-bottom: 20px; /* Espaciado inferior */
  min-height: 300px; /* Aumenta la altura mínima del recuadro */
  text-align: left; /* Texto alineado a la izquierda */
  display: flex; /* Usa Flexbox para manejar alineación */
  align-items: flex-start; /* Alinea el contenido al inicio (arriba) */
  justify-content: flex-start; /* Mantiene el contenido hacia la izquierda */
}
